fastapi==0.115.11
uvicorn==0.34.0
sqlalchemy==2.0.39
psycopg2-binary==2.9.10
beautifulsoup4==4.13.3
requests==2.32.3
selenium==4.29.0
webdriver-manager==4.0.2
celery==5.4.0
redis==5.2.1
firebase-admin==6.7.0
python-dotenv==1.0.1 